In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from nba_api.stats.endpoints.playerdashptshots import PlayerDashPtShots

import plotly.graph_objects as go
import plotly.express as px

In [25]:
def shooting_by_seasons(seasons, df_select):
    '''
    Parameters
    ----------
    seasons: List of seasons (strings)
    df_select: DataFrame to return (int)
    '''
    results = []
    for season in seasons:
        temp = PlayerDashPtShots(team_id=0, player_id=0, season=season).get_data_frames()[df_select]
        temp['SEASON'] = season
        results.append(temp)
    
    df = pd.concat(results)
    return df

In [26]:
seasons = ['2017-18', '2018-19', '2019-20']

In [27]:
df_all = shooting_by_seasons(seasons, 4)
df_ten = shooting_by_seasons(seasons, 5)

In [ ]:
metrics = []

In [28]:
df_all

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,SORT_ORDER,GP,G,CLOSE_DEF_DIST_RANGE,FGA_FREQUENCY,FGM,FGA,FG_PCT,EFG_PCT,FG2A_FREQUENCY,FG2M,FG2A,FG2_PCT,FG3A_FREQUENCY,FG3M,FG3A,FG3_PCT,SEASON
0,1628404,"Hart, Josh",1,1222,15,0-2 Feet - Very Tight,0.000,10,16,0.625,0.625,0.0,10,16,0.625,0.000,0,0,NaN,2017-18
1,1627936,"Caruso, Alex",1,1222,12,0-2 Feet - Very Tight,0.000,5,15,0.333,0.333,0.0,5,15,0.333,0.000,0,0,NaN,2017-18
2,1627780,"Payton II, Gary",1,1222,5,0-2 Feet - Very Tight,0.000,5,7,0.714,0.714,0.0,5,7,0.714,0.000,0,0,NaN,2017-18
3,2731,"Okafor, Emeka",1,1222,8,0-2 Feet - Very Tight,0.000,4,11,0.364,0.364,0.0,4,11,0.364,0.000,0,0,NaN,2017-18
4,201937,"Rubio, Ricky",1,1222,36,0-2 Feet - Very Tight,0.000,31,58,0.534,0.534,0.0,31,57,0.544,0.000,0,1,0.000,2017-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2036,203459,"Crabbe, Allen",4,1053,21,6+ Feet - Wide Open,0.000,18,43,0.419,0.581,0.0,4,6,0.667,0.000,14,37,0.378,2019-20
2037,203496,"Covington, Robert",4,1053,54,6+ Feet - Wide Open,0.001,48,128,0.375,0.520,0.0,11,18,0.611,0.001,37,110,0.336,2019-20
2038,1629642,"Little, Nassir",4,1053,27,6+ Feet - Wide Open,0.000,14,50,0.280,0.410,0.0,1,3,0.333,0.000,13,47,0.277,2019-20
2039,1629216,"Vincent, Gabe",4,1053,5,6+ Feet - Wide Open,0.000,5,14,0.357,0.536,0.0,0,0,NaN,0.000,5,14,0.357,2019-20
2040,1628960,"Allen, Grayson",4,1053,32,6+ Feet - Wide Open,0.001,42,95,0.442,0.647,0.0,3,5,0.600,0.000,39,90,0.433,2019-20